<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Novo Produto</title>
</head>
<body>
  <% if ( erros ) { %>
    <ul class="erros">
    <% for ( var i = 0; i < erros.length; i++ ) { %>
      <li><%= erros[i].msg %></li>
    <% } %>
    </ul>
  <% } %>
  <form action="/produtos/" method="post">

    <div>
      <label for="titulo">Título</label>
      <input type="text" name="titulo" id="titulo" value="<%= produto.titulo %>">
    </div>

    <div><label for="descricao">Descrição</label>
    <textarea name="descricao" id="descricao"><%= produto.descricao %></textarea></div>

    <div><label for="preco">Preço</label>
    <input type="text" name="preco" id="preco" value="<%= produto.preco %>"></div>

    <input type="submit" value="Enviar">

  </form>
</body>
</html>
